<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:fragment="footer">
            <footer class="page-footer font-small black-footer">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 white">© 2018 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/" id="link-footer">Ewelina Pałka</a>
                </div>
                <!-- Copyright -->

            </footer>
        </div>
    </body>
</html>